.App {
  text-align: center;
  background-color: whitesmoke;

}
body{
  height: 100vh;
  margin: 0;
}
#root {
  background: #1e555c;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag;
}

.timer {
  border: 7px solid #13353a;
  border-radius: 50%;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-app-region: no-drag;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.timer >span {
  font-size: 40px;
  font-family: monospace;
  color: #fff;
}

button {
  width: 45px;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 4px black;
  box-sizing: content-box;
  cursor: pointer;
  font-size: 15px;
  height: 25px;
  text-align: center;
  margin: 0 7px;
  outline: none;
  text-transform: capitalize;
  background: #7ed2df;
}

hr{
  margin: 0;
  width: 75%;
  background: #13353a;
  height: 4px;
  border-width: 0;
  border-radius: 4px;
}

.close-btn-container {
  border-radius: 50%;
  text-align: center;
  position: relative;
  text-align: right;
  top: -5px;
  width: 100%;
}

.close {
  font-weight: 900;
  position: relative;
  right: 8px;
  font-size: 20px;
  cursor: pointer;
}
.btn-container {
  margin-top: 6px;
}