.App {
  text-align: center;
  background-color: whitesmoke;

}
body{
  height: 100vh;
  margin: 0;
}
#root {
  background: #1e555c;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer {
  border: 7px solid #13353a;
  /* margin: 20px auto 10px auto; */
  width: 270px;
  height: 120px;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: monospace;
  flex-direction: column;
  color: #fff;
}

button {
  width: 45px;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 4px black;
  box-sizing: content-box;
  cursor: pointer;
  font-size: 15px;
  height: 25px;
  text-align: center;
  margin: 0 7px;
  outline: none;
  text-transform: capitalize;
  background: #7ed2df;
}

hr{
  margin: 0;
  width: 65%;
  background: #13353a;
  height: 4px;
  border-width: 0;
  border-radius: 4px;
}